.navbar {
    background-color: #F3F3F3;
    font-size: 19px;
    font-family: 'Gentium Book Plus', serif;
}

.navbar-brand {
    font-size: 25px;
}

.back, .card-header {
    background-color: #EBE6E6;
    font-family: 'Gentium Book Plus', serif;
}

.second {
    background-color: #F3F3F3;
    font-family: 'Gentium Book Plus', serif;
}

.cta {
    border: 2px solid #EBE6E6;
}

.extra {
    background-color: white;
    border: 1px solid #CCAFAF;
    width: 95%;
}

li, .big {
    font-size: 19px;
}

